BACKEND_PORT=4000
CORS_ORIGIN=http://localhost:3001

DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=phoenix
DB_PASSWORD=phoenix
DB_NAME=phoenix_crm
DB_SYNCHRONIZE=false
DB_MIGRATIONS_RUN=false
DB_LOGGING=false

SESSION_COOKIE_NAME=phoenix_session
SESSION_TTL_HOURS=168
SESSION_COOKIE_SECURE=false

BACKEND_BOOTSTRAP_ADMIN_EMAIL=admin@phoenixcrm.local
BACKEND_BOOTSTRAP_ADMIN_PASSWORD=Admin12345!
BACKEND_BOOTSTRAP_ADMIN_NAME=Phoenix Admin
